---
layout: sidenav
title : Human-AI Collaboration Researcher - Jie (Sophia) Gao
navbar_title: About Me
container_class: container-fluid
---

<div class="homepage-content">

    {% include widgets/profile_card_bio_only.html %}

    <!-- Debugging widgets -->
    {% include widgets/debug_repo_name.html %}
    {% include widgets/debug_url.html %}

    {% if site.data.display.homepage.show_experience %}
        {% include widgets/experience_card.html %}
    {% endif %}

    <!-- Travels & News are in sidebar for this layout -->

</div>
