---
layout: sidenav
title : About
navbar_title: About
container_class: container-xl
---

{% assign cards_by_group = site.life | sort: "date" | reverse | where: "show", true | group_by_exp: "item", "item.group" %}

{% assign group_count = cards_by_group | size %}
<div class="row">
{% for group in cards_by_group %}
<div class="{% if group_count > 1 %}col-lg-6{% else %}col-12{% endif %} mb-4">
<h5>{{ group.name }}</h5>
<div class="row grid">
    <div class="grid-sizer col-1"></div>
    {% for item in group.items %}
    {% if item.width >= 6 -%}
        {%- assign width_sm = 12 -%}
        {%- assign width_xs = 12 -%}
    {%- elsif item.width >= 2 -%}
        {%- assign width_sm = 6 -%}
        {%- assign width_xs = 6 -%}
    {%- else -%}
        {%- assign width_sm = item.width | times: 2 | at_most: 12 -%}
        {%- assign width_xs = item.width | times: 2 | at_most: 12 -%}
    {%- endif -%}
    <div class="p-2 grid-item col-md-{{ item.width | at_most: 12 }} col-sm-{{ width_sm }} col-{{ width_xs }}">
        <div class="{% if item.class != null %}{{ item.class }}{% else %}card border-0 shadow-sm bg-white{% endif %}">
            {{ item.content }}
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endfor %}
</div>