---
layout: default
title : Software
navbar_title: Software
---

<div class="row">
    <div class="col-12">
         <h5 class="pt-4">Software Projects</h5>
         <p class="pt-2">One of the most enjoyable aspects of research is building innovative software that helps people solve real problems and makes their lives easier. As a result, I highly value reproducibility and open source. Although maintaining these tools requires significant effort, I try my best to continue this line of work to better support real-world applications of research.</p>
        
        <div class="row mt-3">
            {% assign software_items = site.software | sort: "date" | reverse %}
            {% for item in software_items %}
            <div class="col-md-4 mb-4">
                {% include widgets/software_card.html item=item %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
