<div class="container">
<div class="content">
    <p>My research interests include Human-AI Collaboration, AI for Social Science and AI for Software Engineering. My research focuses on <b>building</b>, <b>theorizing</b> and <b>evaluating</b> AI innovative software/tools, particularly in qualitative analysis area. 
</div>
</div>


<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    
    .content {
      background-color: #fffdf7;
      padding: 15px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      margin-bottom: 30px;
    }
    

</style>