<div class="container">
<div class="content">
    <p>My research interests include Human-AI Collaboration, AI for Social Science and AI for Software Engineering: </p>
    <b>- Human-LLM Collaboration/Interaction</b>: investigating the various modes of collaboration/interaction between humans and LLMs, building taxonomy between human-LLM collaboration/interaction activities. One of the main use cases I will explore is code auditing;
    <br>
    <b>- AI4SocialScience</b>: exploring efficient AI-assisted tools to enhance qualitative analysis.
</div>
</div>


<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    
    .content {
      background-color: #fffdf7;
      padding: 15px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      margin-bottom: 30px;
    }
    

</style>