<div class="my-3 bg-white shadow-sm rounded-lg fade-in-up">
    <div class="px-4 pt-3 pb-1">
        <h5 class="section-title-small"><i class="fas fa-plane"></i> Upcoming Travels</h5>
    </div>
    <div class="px-4 pb-3">
        <ul class="travel-list">
            <li>
                <span class="travel-date">Apr 2026</span>
                <span class="travel-event"><a href="https://chi2026.acm.org/" target="_blank">CHI 2026</a></span>
                <span class="travel-place">Yokohama, Japan</span>
            </li>
            <li>
                <span class="travel-date">Jul 2026</span>
                <span class="travel-event"><a href="https://conf.researchr.org/home/icpc-2026" target="_blank">ICPC 2026</a></span>
                <span class="travel-place">Milan, Italy</span>
            </li>
        </ul>
        <p class="travel-note">Feel free to reach out if you'd like to meet!</p>
    </div>
</div>
